@model TicTacToeGame.Models.User



<div>
    <br />
    <dl class="dl-horizontal">
        <dt>
            <h3> @Html.DisplayNameFor(model => model.Name)</h3>
        </dt>

        <dd>
            <h3 style="font-family:SimSun-ExtB;"> @Html.DisplayFor(model => model.Name)</h3>
        </dd>

        <dt>
            <h3> @Html.DisplayNameFor(model => model.Email)</h3>
        </dt>

        <dd>
            <h3 style="font-family:SimSun-ExtB;">@Html.DisplayFor(model => model.Email)</h3>
        </dd>

     

    </dl>
</div>

